<table>
  <tr>
    <th>Name</th>
    <th>Year Completed</th>
  </tr>
  <tr>
    <td><%= @landmark.name %></td>
    <td><%= @landmark.year_completed %></td>
  </tr>
<table>


<form method="get" action="/landmarks/<%=@landmark.id%>/edit">

	<input type="hidden" name="hidden">	
	<input type="submit" name="edit" id="edit" value="Edit Landmark">
</form>


